/* galleryApp css stylesheet */

/* Global styles */
* {
	font-family: Oswald, Cabin, Tahoma, Geneva, sans-serif;
	color: #666666;
	font-weight: 12px;
	letter-spacing: 0.6pt;
	word-spacing: 1.8pt;	
	margin: 0;
	padding: 0;
}
body { margin: 0; padding: 0; }

/* Titles styles */
h1 {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 0px 1px 1px #555;
}
h2 {
	text-align: center;
	color: #A6A6A6;
	font-size: 2em;
	text-shadow: 0px 1px 1px #555;
}

/* Menu styles */
#navigation_container {
	max-width: 75%;
}
#navigation li {
	list-style: none;
	display: block;
	float: left;
	margin: 0 1em;
}
#navigation li a {
	display: block;
	text-decoration: none;
	color: #f0f0f0;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0px 2px 3px #555;
}
#navigation li a:hover {
    color: #A6A6A6;
}
.rectangle {
	background: #9B1E04;
	height: 35px;
	position: relative;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-moz-opacity: 0.70;
	opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	z-index: 500; /* the stack order: foreground */
	margin: 0em 0;
}
.r-triangle {
	border-color: #FA836E transparent transparent;
	border-style: solid;
	border-width: 35px;
	height: 0px;
	width: 0px;
	position: relative;
	float: right;
	right: -34px;
	top: -35px;
} 

/* Sub-menu styles */
#navigation_sub_container {
	max-width: 70%;
}
#navigation.sub-menu {
	margin: 0;
}
#navigation.sub-menu  li a {
	font-size: 1em;
}
#navigation li a.selected {
    color: #000000;
}
.rectangle.sub-menu {
	background: #666666;
	height: 26px;
}
.r-triangle.sub-menu {
	border-color: #959595 transparent transparent;
	border-width: 26px;
	right: -26px;
	top: -26px;
} 


/* Main container style */
div.container {
	width: 75%;
	min-height: 800px;
}

/* Gallery styles */
.gallery {
	padding: 30px;
	text-align:center;
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;;
}
.painting-wrapper .name {
	float: left;	
	width: 100%;
	margin-top: 12px;
}
.painting {
	list-style: none;
	padding: 5px;
	margin: 35px 20px 3px;
	-webkit-box-shadow: 1px 5px 9px 2px #A8A2A2;
	box-shadow: 1px 5px 9px 2px #A8A2A2;
}

/* Image styles */
img.top-corner {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;
	max-width: 25%;	
	z-index: 400;
}
img.img-responsive {
	height: auto;
}

/* Footer style */
footer {
	text-align: center;
	z-index: 400;	
}
footer, .push {
	height: 2em;
}
div.flag-container {
    padding-top: 9px;
}
img.flag {
	height: 20px;	
}



