/* galleryApp css stylesheet - Responsive styles */

/* Tablets */
@media only screen and (max-width: 950px) {
   /* Menu styles */
   #navigation li a { font-size: 1.3em; }
}


/* Smartphone */
@media only screen and (max-width: 800px) {
   /* Menu styles */
   #navigation li a { font-size: 1.0em; }
   div.r-triangle { display: none; }
   div.rectangle { height: 27px; }
   #navigation_container { max-width: 100%; }
   
   /* Corner image styles */
   img.top-corner { display: none; }
   
   /* Main container style */
   div.container { width: 100%; }
   footer { max-width: 100%; }
}
