<div class="rectangle">
	<ul id="navigation" >
	  	<li ng-repeat="menuItem in menuItems"><a ng-class="{selected: currentMenuItem === menuItem.page}" title="{{menuItem.label | translate }}" ng-href="{{ menuItem.url }}">{{ menuItem.label | translate | uppercase }}</a></li>
		<div class="flag-container">
			<a alt="Français" title="Français" ng-click="changeLanguage('fr')"><img class="flag" src="img/french.png"/></a>
			<a alt="English" title="English" ng-click="changeLanguage('en')"><img class="flag" src="img/english.png"/></a>
		</div>
	</ul>
</div>
<div class="r-triangle"></div>